p { font-family: Arial, sans-serif; font-size: 14px; }
        header{
            border-style: solid; 
            border-width: 10px;
            border-color: firebrick;
            margin: 10px;
            padding: 10px;
            background-color:dodgerblue;
            color: beige;
        }
        h1{
            color: aliceblue;
        }
        nav{
            background-color: orange;
            margin: 10px;
        }
        main{
            background-color:grey;
        }
        section {
            background-color: darkgoldenrod;
        }
        article{
            background-color:greenyellow ;
        }