        p { font-family: Arial, sans-serif; font-size: 14px; }
        header{
            border-style: solid; 
            border-width: 10px;
            border-color: rgb(127, 200, 223);
            margin: 10px;
            padding: 10px;
            background-color:dodgerblue;
            color: beige;
        }
        nav{
            border-style: solid;
            margin: 10px;
            padding: 10px;
            background-color: rgb(255, 193, 60);
            margin: 20px;
        }
        main{
            border-style: solid; 
            border-width: 10px;
            border-color:darkgrey;
            margin: 10px;
            padding: 10px;
        }
        section {
             border-style:solid; 
            border-width: 10px;
            border-color:darkgrey;
            margin: 10px;
            padding: 10px;
            background-color: darkgoldenrod;
        }
        article{
             border-style: dashed; 
            border-width: 10px;
            border-color: rgb(22, 161, 92);
            margin: 10px;
            padding: 10px;
            background-color:rgb(37, 197, 64) ;
        }
        aside{
            border-style: solid; 
            border-width: 10px;
            border-color:darkgray;
            margin: 10px;
            padding: 10px;
            background-color: darkorchid;
            color: beige;
        }