.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(87, 92, 97);
}
.container div {
  background-color: hsl(0, 91%, 48%);
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}