.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(103, 105, 107);
    align-items: center;
  justify-content:center;
  flex-direction: row;
}
.quadrado {
  background-color: hsl(0, 100%, 50%);
  width: 100px;
  margin: 100px;
  padding: 100px;
  text-align: center;  
  font-size: 30px;
  display: flex;
  justify-content:center;
  flex-direction: row;
  
}
