        p { font-family: Arial, sans-serif; font-size: 14px; }
        header{
            border-style: solid; 
            border-width: 10px;
            border-color: rgb(127, 200, 223);
            margin: 10px;
            padding: 10px;
            background-color:dodgerblue;
            color: beige;
        }
        h1{
            color: aliceblue;
        }
        nav{
            border-style: solid;
            margin: 10px;
            padding: 10px;
            background-color: orange;
            margin: 10px;
        }
        main{
            border-style: solid; 
            border-width: 10px;
            border-color:darkgrey;
            margin: 10px;
            padding: 10px;
        }
        section {
             border-style: dotted; 
            border-width: 10px;
            border-color:rgb(122, 212, 62);
            margin: 10px;
            padding: 10px;
            background-color: darkgoldenrod;
        }
        article{
             border-style: solid; 
            border-width: 10px;
            border-color: rgb(127, 200, 223);
            margin: 10px;
            padding: 10px;
            background-color:rgb(37, 197, 64) ;
        }
        aside{
            border-style: solid; 
            border-width: 10px;
            border-color:darkgray;
            margin: 10px;
            padding: 10px;
            background-color: darkorchid;
        }